@mixin phonesDisplay {
  display: flex;
  justify-content: flex-start;
}

.profile-page {
  text-align: center;
  margin-top: 5%;
}

.my-phones {
  @include phonesDisplay();
}

.bought-phones {
  @include phonesDisplay();
}

.profile-titles {
  margin-top: 10%;
}

.phones {
  width: 1920px;
}

.phone-card-info {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-form {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.file-input {
  margin: 0;
  padding: 0;
  border-radius: 45px;
}
