@mixin phonesDisplay {
  display: flex;
  justify-content: flex-start;
}

.profile-page {
  text-align: center;
}

.my-phones {
  @include phonesDisplay();
}

.bought-phones {
  @include phonesDisplay();
}

.profile-titles {
  margin-top: 10%;
}

.phones {
  width: 1920px;
}

.phone-card-info {
  display: flex;
  flex-wrap: wrap;
}
