.add-phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textArea-fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
}