.phone-catalog {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 5%;
  margin-left: 7%;
}

.no-phones {
  text-align: center;
}


.filter {
  text-align: center;
  color: white;
}

.label {
  color: black;
}

.select {
  color: black;
  background-color: white;
}

.filter-section {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 600px) { 
  .phone-catalog {
    justify-content: center;
  }
}




