.transaction-page {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.transaction-form {
    text-align: center;
}

.transaction-form-view {
    width: 30%;
}

.bought-phones-ul  li {
    list-style: none;
}

.bought-phone-view {
    margin-top: 10%;
}